.footer{
    background-image: url('img/footer/footer-bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: #fff;
    overflow: hidden;

    &__wrapper{
        @include wrapper();
    }

    &__items{
        @include row-flex();

        &_item{
            @include col();
        }
    }
}

.finish{
    padding-top: rem(80);
    padding-bottom: rem(80);

    @include above($break_sm) {
        padding-top: rem(96);
        padding-bottom: rem(96);
    }

    &_title{
        @include size(24);
        font-size: rem(38);
        font-weight: 700;
        text-align: center;

        @include above($break_sm) {
            font-size: rem(56);
            letter-spacing: rem(-0.6);
        }
    }

    &_info{
        @include size(24);
        @include size-sm(20);
        @include offset-sm(2);
        @include size-lgx(14);
        @include offset-lgx(5);

        font-family: $lato;
        font-weight: 400;
        line-height: 1.5;
        text-align: center;
        margin-top: rem(32);
        margin-bottom: rem(52);

        @include above($break_sm) {
            font-size: rem(22);
        }
    }

    .form{
        @include row-flex();
        justify-content: center;

        & > *{
            @include col();
            @include size-lg(8);
           
            width: 100%;

            &:nth-child(1){
                @include size-lgx(10);
            }
            &:nth-child(2){
                @include size-lgx(5);
                max-width: rem(486);
                @include above($break_sm) {
                    max-width: rem(608);
                }
                @include above($break_md) {
                    max-width: none;
                }
            }
            &:nth-child(3){
                @include size-lgx(5);
            }

            & > * {
                width: 100%;
            }
        }

        .input{
            max-width: rem(486);
            margin-bottom: rem(16);
            @include above($break_sm) {
                max-width: rem(608);
            }
            @include above($break_md) {
                max-width: none;
                margin-bottom: 0;
            }

            &_name{
                display: inherit;
            }
        }

        .btn{
            margin-top: rem(24);
            max-width: rem(270);
            
            @include above($break_sm) {
                max-width: rem(336);
            }

            @include above($break_md) {
                margin-top: 0;
                max-width: none;
            }
        }

    }
}

.bottom{
    padding-top: rem(80);
    padding-bottom: rem(64);
    position: relative;

    &:before{
        content: '';
        left: -100%;
        right: -100%;
        top: 0;
        bottom: 0;
        position: absolute;
        background-color: #0000007a;
    }

    @include above($break_md) {
        font-size: rem(16);
    }

    &__item{
        z-index: 1;
        @include size(16);
        @include size-sm(12);
        @include size-md(7);
        @include offset-left(6);
        @include offset-left-sm(0);
        @include above($break_sm) {
            display: flex;
            flex-direction: column;
        }
    }

    &__logo{
        margin-bottom: rem(32);
        position: relative;
        height: rem(47);
        @include above($break_xs) {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: auto;
        }

        svg{
            position: absolute;
            left: rem(-52);

            @include above($break_xs) {
                position: relative;
                align-self: flex-start;
                left: 0;
                top: rem(-14);
            }
        }

        .copy{
            display: none;
            @include above($break_xs) {
                display: block;
            }
        }
        
    }
    
    &_label{
        font-size: rem(16);
        font-weight: 700;
        letter-spacing: rem(-0.1);
        margin-bottom: rem(16);
    }

    &__office{
        & > *:not(:first-child){
            margin-bottom: rem(32);
        }

        .copy{
            @include above($break_xs) {
                display: none;
            }
        }
    }

    &_phone{
        display: flex;
        flex-direction: column;
        font-family: $lato;

        a{
            font-size: rem(20);
            letter-spacing: rem(-0.3);
        }
    }

    &_social{
        display: flex;

        li:not(:last-child){
            margin-right: rem(16);
        }
    }
    &_mail{
        display: inline-block;
        text-decoration: underline;
    }

    &__menu{
        display: none;
        @include size-md(5);
    }

    &__hh{
        display: none;
        @include size-md(5);
    }

    &__nav{
        display: flex;
        flex-direction: column;
        font-family: $lato;
        
        &_item{

            &:not(:last-child){
                margin-bottom: rem(16);
            }

            a{

                &.router-link-exact-active{
                    text-decoration: underline;
                }

                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

.webp .footer{
    background-image: url('img/footer/footer-bg.webp');
}