@include resset();

.header{
    font-family: $lato;
    font-weight: 400;
    overflow: hidden;
    background-color: #fff;
    z-index: 500;
    &__wrapper{
        @include wrapper();
    }
    &__items{
        @include row-flex();
        position: relative;
        @include above($break_sm) {
            height: rem(74);
        }
        &_item{
            @include col();
            display: flex;
            align-items: center;
        }
    }
    .logo{
        @include size(12);
        @include size-md(6);
        padding-top: rem(16);
        padding-bottom: rem(16);
    }
    .contact{
        @include size(24);
        @include size-md(16);
        order: 2;
        justify-content: space-between;
        position: relative;
        padding-top: rem(14);
        padding-bottom: rem(14);
        z-index: 501;
        @include above($break_sm) {
            order: 0;
            justify-content: flex-end;
        }
        &::before{
            content: '';
            position: absolute;
            top: 0;
            width: calc(100% + #{rem(30)});
            height: rem(1);
            left: rem(-15);
            right: rem(-15);
            background: $grey_light;
            @include above($break_sm) {
                display: none;
            }
        }
        .hamburger__icon{
            display: none;
        }
    }
    .whatsapp{
        letter-spacing: rem(-0.2);
        @include above($break_sm) {
            margin-right: rem(56);
        }
        @include above($break_md) {
            display: none;
        }
    }
    .whatsapp,
    .phone{
        display: flex;
        line-height: 1;
        align-items: center;
        svg{
            margin-right: rem(8);
        }
    }
    .callback{
        display: none;
        @include above($break_sm) {
            display: flex;
            letter-spacing: rem(-0.2);
            color: $red;
            position: relative;
            margin-left: rem(16);
            cursor: pointer;
            &::before{
                content: '';
                position: absolute;
                height: rem(1);
                width: 100%;
                background: $red;
                bottom: rem(0);
                transition: all .2s;
            }
            &:hover::before{
                bottom: rem(-2);
            }
        }
    }
    .hamburger{
        @include size(12);
        @include size-md(2);
        justify-content: flex-end;
        z-index: 501;
    }
    .nav{
        z-index: 500;
        top: rem(70);
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        align-items: normal;
        
        @include size-lg(16);
        @include offset-left-lg(6);
        @include offset-right-lg(2);
        @include above($break_md) {
            position: absolute;
            top: 0;
            align-items: center;
            background-color: initial;
        }
        &__sliders {
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: flex 0.45s;
            &:nth-child(2) {
                flex:1 0 100%;
                background: transparent;
            }  
            &:nth-child(odd){
                background: $blue;
            }
        }
        &__items{
            display: block;
            font-size: rem(24);
            position: absolute;
            z-index: 3; 
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: translateY(100%);
            transition: transform 0.5s;
            transition-delay:0.5s;
            visibility: hidden;
            overflow-y: auto;
            @include above($break_md) {
                display:flex;
                flex-direction: row;
                justify-content: flex-end;
                font-size: rem(20);
                overflow: visible;
                position: static;
                transform: translateY(0);
            }

            &_item{
                display: flex;        
                color: #fff;
                text-align: center;
                @include above($break_md) {
                    padding: 0;
                    color: $grey;
                }
                
                a{
                    padding: 5% 0;
                    width: 100%;

                    @include above($break_md) {
                        position: relative;
                        padding: rem(5) 0;

                        &::before{
                            content: '';
                            height: 2px;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            width: 0;
                            background-color: $grey;
                            transition: all 0.3s;
                        }

                        &:not(.router-link-exact-active):hover::before{
                            width: 100%;
                            left: 0;
                        }
                    }

                    &.router-link-exact-active{
                        color: $blue;
                        background-color: #f9f8f7;
    
                        @include above($break_md) {
                            background-color: initial;
                        }
    
                    }
                }
                &:not(:last-of-type) {
                    border-bottom: solid 1px $grey_light;

                    @include above($break_md) {
                        border-bottom: none;
                        padding-right: rem(15);
                    }
                }
            }
        }
    }

    @include above($break_md) {
        &__overlay {
            position: absolute;
            top: 0;
            right: -40%;
            bottom: 0;
            left: initial;
            width: 0;
            background-color: rgba(255, 255, 255, 0.1);
            transition: all .3s;
        }
        .slide-to{
            &-right {
                animation-name: slideToRight;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
            }
            &-left{
                animation-name: slideToLeft;
                animation-duration: 1s;
                animation-timing-function: ease-in-out;
            }
        }     
    }

    &.open{
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        @include above($break_md) {
            position: static;
            bottom: auto;
        }
        .contact{
            z-index: 1;
        }
        .nav{
            position: fixed;
            @include above($break_md) {
                position: absolute;
            }
            &__sliders:nth-child(2) {
                flex:0 0 0%;
            } 
            &__items{
                transform: translateY(0%);
                visibility: visible;
                pointer-events:all;
            }
        }
        .contact{
            animation-name: fadeOut;
            animation-duration: .2s;
            animation-timing-function: ease-out;
            opacity: 0;
        }
    }

    &.sticky{
        position: fixed !important;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0 0 rem(5) #6b6b6b94;
        animation-name: fadeTo;
        animation-duration: 1s;
    }

    &.sticky:not(.open){
        .logo,
        .hamburger{
            display: none;
            @include above($break_sm) {
                display: flex;
            }
        }
        .contact{
            &::before{
                display: none;
            }
            .hamburger__icon{
                display: flex;
                @include above($break_sm) {
                    display: none;
                }
            }
        }
    }
}
