.hero{
    color: #fff;
    text-align: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
    @include above($break_sm) {
        text-align: left;
    }
    

    &__wrapper{
        @include wrapper();
        position: relative;
        padding-top: rem(48);
        padding-bottom: rem(48);
        height: 100%;

        @include above($break_sm) {
            height: rem(694);
            box-sizing: border-box;
            align-items: center;
            display: grid;
        }

        @include above($break_lg) {
            padding-left: 0 !important;
            padding-right: 0 !important;
        }

        &::before{
            content: '';
            position: absolute;
            z-index: -1;
            margin: auto;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 100%;
            max-width: $break_lg;
            background-image: url('img/banner/home_banner.jpg');
            background-size: cover;
            background-position: center;

            @include above($break_md) {
                left: rem(30);
                right: rem(30);
                width: calc(100% - #{rem(60)});
            }
            @include above($break_lg) {
                left: 0;
                right: 0;
                width: 100%
            }
        }
    }
    &__items{
        @include row-flex();

        &_item{
            @include col(); 
            @include size(24);
            @include size-md(20);
            @include offset-md(2);
            @include size-lg(18);
            @include offset-lg(3);
        }
    }

    &_intro{
        font-size: rem(12);
        letter-spacing: rem(6);
        text-transform: uppercase;
        margin-bottom: rem(8);
        @include above($break_sm) {
            font-size: rem(16);
            letter-spacing: rem(10);
            margin-bottom: rem(16);
        }
        @include above($break_md) {
            font-size: rem(20);
            letter-spacing: rem(12);
        }
    }
    &_title{
        font-size: rem(34);
        font-weight: 700;
        letter-spacing: rem(-0.6);
        margin-bottom: rem(25);
        @include above($break_sm) {
            font-size: rem(56);
            margin-bottom: rem(32);
        }

        @include above($break_lg) {
            font-size: rem(64);
        }
    }
    &_subtitle{
        font-size: rem(14);
        font-weight: 400;
        font-family: $lato;
        line-height: rem(24);
        @include above($break_sm) {
            font-size: rem(20);
            line-height: rem(40);
        }
        @include above($break_md) {
            font-size: rem(24);
        }
    }


    .form{
        padding-top: rem(35);
        display: flex;
        flex-direction: column;

        @include above($break_sm) {
            padding-top: rem(64);
        }
    }
    .input{
        max-width: rem(320);
        width: 100%;
        text-align: center;

        @include above($break_sm) {
            text-align: left;
        }
    }
    .btn{
        margin-top: rem(16);
        max-width: rem(320);
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        @include above($break_sm) {
            margin-left: 0;
            margin-right: 0;
            max-width: rem(260);
        }
    }

}

.webp .hero__wrapper::before{
    background-image: url('img/banner/home_banner.webp');
}