.resolution{
    text-align: center;
    padding-top: rem(60);
    padding-bottom: rem(40);
    background: linear-gradient(-179deg,#fbfbfb 0%,#e8e8e8 90%);
    position: relative;

    &::before,
    &::after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        height: rem(20);
        
    }

    &::before{
        top: 0;
        background: linear-gradient(180deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
    }

    &:after{
        bottom: 0;
        background: linear-gradient(0deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
    }

    &__wrapper{
        @include wrapper();
        position: relative;
        z-index: 1;
    }

    &__items{
        @include row-flex();

        &_item{
            @include col();
            @include size(24);
        }
    }

    &_info{
        font-size: rem(20);
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: rem(26);

        @include above($break_sm) { 
            font-size: rem(24);
        }
    }

    &_price{
        font-size: rem(48);
        font-weight: 500;
    }

}