.services{
    background-color: #f9f8f7;

    @include above($break_sm) {
        padding-bottom: rem(96) !important;
    }

    &__wrapper{
        @include wrapper();
    }

    &__items{
        @include row-flex();
        &_item{
            @include col();
            @include size(24);
        }
    }

    &-title{
        color: #505050;
        display: flex;
        margin-bottom: rem(24);
        justify-content: space-between;
        align-items: center;
        @include size-md(14);
        @include size-lg(24);
        @include above($break_sm) {
            margin-bottom: rem(32);
        }
    }

    &-text{
        font-family: $lato;
        font-size: rem(18);
        line-height: 1.4;
        @include size-lg(14);
        @include above($break_sm) {
            font-size: rem(22);
        }
    }

    &-cats{
        margin-top: rem(90);
    }

    &__btn{
        &_top{
            display: none;
            @include size-md(10);
            @include above($break_sm) {
                display: flex;
                justify-content: flex-end;
            }
            @include above($break_md) {
                order: 2;
            }
        }
        &_bottom{
            margin-top: rem(64);
            display: flex;
            justify-content: center;
            @include above($break_sm) {
                display: none;
            }
        }
        .btn{
            max-width: rem(280);
            width: 100%;
        }
    }
}

.cart{
    @include size-md(12);
    @include size-lgx(6);
    height: rem(383);
    position: relative;
    z-index: 20;

    &:not(:last-child){
        margin-bottom: rem(88);
        @include above($break_lg) {
            margin-bottom: 0; 
        }
    }

    &:nth-child(3){
        @include above($break_sm) {
            margin-bottom: 0; 
        } 
    }

    &__flipper{
        flex-basis: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        transition: .7s linear;
    }

    &__front, 
    &__back {
        box-sizing: content-box;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        backface-visibility: hidden;
        background-color: #fff;
        box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.1);
        border-radius: rem(8);
        // max-width: rem(210);
        
    }

    &__front{
        z-index: 2;
        cursor: pointer;
        transform: rotateY(0deg);
        padding: rem(72) rem(42) rem(0) rem(42);
        @include above($break_lg) {
            padding: rem(72) rem(32) rem(0) rem(32);
        }

        &:hover{
            @include above($break_md) {
                box-shadow: 0 16px 24px rgba(0, 0, 0, 0.08), 0 0 16px rgba(0, 0, 0, 0.08), inset 0 -1px 0 rgba(0, 0, 0, 0.1); 
            }
        }
    }

    &__back{
        transform: rotateY(-180deg);
        padding: rem(40) rem(42) rem(0) rem(42);
        @include above($break_lg) {
            padding: rem(40) rem(32) rem(0) rem(32);
        }

        &_name{
            font-size: rem(28);
            font-weight: 700;
            color: #505050;
            letter-spacing: rem(-1);
            margin-bottom: rem(16);
            text-align: center;
        }

        &_info{
            font-family: $lato;
            font-weight: 400;
            line-height: 1.6;
            text-align: center;

            span{
                color: $blue;
            }
        }

        .input{
            background-color: #eeeeee;
            width: 100%;
            margin-top: rem(16);
            margin-bottom: rem(16);
        }

        .btn{
            width: 100%;
        }

        .alarm{
            margin-top: rem(16);
        }
    }

    &.open &__flipper{
        transform: rotateY(180deg);
    }

    &__img{
        position: absolute;
        top: rem(-25);
    }

    &__name,
    &__price{
        font-size: rem(40);
        font-weight: 700;
        color: #505050;
        letter-spacing: rem(-0.3);
    }
    &__name{
        margin-bottom: rem(16);
    }
    &__price{
        margin-top: auto;
        justify-self: flex-end;

        span{
            font-size: rem(30);
        }
    }
    &__descr{
        li{
            font-family: $lato;
            font-weight: 400;
            line-height: 1.6;
            margin-bottom: rem(5);
        }
    }
    &__time{
        font-family: $lato;
        color: $blue;
        font-weight: 800;
        margin-top: rem(14);
        margin-bottom: rem(24);
    }
}